In [1]:
import pandas as pd
import numpy as np
from sklearn.preprocessing import StandardScaler

In [7]:
file = pd.read_csv('feets_full_table.csv', sep=';')
file.head()

,id,sector,Amplitude,Eta_e,LinearTrend,Mean,Meanvariance,MedianAbsDev,PercentAmplitude,PeriodLS,Period_fit,Psi_CS,Psi_eta,Std,Class
0,1152358,22,0.038367,2.781633,0.000008,0.999896,0.019490,0.013162,0.067496,0.000091,1.0,0.013116,2.013830,0.019488,Noisy
1,4289780,6,0.003984,0.027998,-0.000003,1.000369,0.002672,0.002411,0.006699,0.853793,0.0,0.230237,0.050262,0.002673,Modul
2,4289780,32,0.004005,0.026885,0.000003,1.000378,0.002702,0.002441,0.006885,0.854841,0.0,0.233032,0.037314,0.002703,Modul
3,4373827,20,0.065865,2.627467,-0.000017,0.999851,0.033532,0.022580,0.117115,0.000043,1.0,0.019476,1.983205,0.033527,Noisy
4,4373827,44,0.070649,2.481889,0.000037,1.000068,0.035810,0.024006,0.123233,0.000106,1.0,0.015542,2.024841,0.035813,Noisy

In [5]:
group = file.groupby('Class')
group.count()

,id,sector,Amplitude,Eta_e,LinearTrend,Mean,Meanvariance,MedianAbsDev,PercentAmplitude,PeriodLS,Period_fit,Psi_CS,Psi_eta,Std
Class,,,,,,,,,,,,,,
Modul,1115,1115,1115,1115,1115,1115,1115,1115,1115,1115,1113,1115,1115,1115
Noisy,1717,1717,1717,1717,1717,1717,1717,1717,1717,1717,1713,1717,1717,1717

## Previsores e Classe

In [8]:
x_feets = file.iloc[:, 2:14].values
y_feets = file.iloc[:, 14].values

In [4]:
print(x_feets.shape, type(x_feets))

(3202, 12) <class 'numpy.ndarray'>

In [5]:
print(y_feets.shape, type(y_feets))

(3202,) <class 'numpy.ndarray'>

## Escalonamento de atributos

In [9]:
# Verifying infinity values

print(f'There is {np.isinf(x_feets).sum()} infinity values')

There is 5 infinity values

In [10]:
# Replacing inf values to nan and checking

x_feets = np.where(np.isinf(x_feets), np.nan, x_feets)

print(f'There is {np.isinf(x_feets).sum()} infinity values')

There is 0 infinity values

In [11]:
# Treating infinity values

from sklearn.impute import SimpleImputer

imputer = SimpleImputer(strategy='median')
x_feets = imputer.fit_transform(x_feets)

In [12]:
scaler_feets = StandardScaler()

x_feets = scaler_feets.fit_transform(x_feets)

In [13]:
x_feets

array([[-0.09192561,  0.58349786,  0.06325733, ..., -0.85199125,
         0.6644599 , -0.1106401 ],
       [-0.6077315 , -1.46754641,  0.01052915, ...,  1.90823344,
        -2.57659723, -0.57605019],
       [-0.60740871, -1.46837541,  0.03750745, ...,  1.9437736 ,
        -2.59796918, -0.57521458],
       ...,
       [-0.61114698, -1.32995874,  0.090101  , ...,  0.08188074,
         0.22185614, -0.5965685 ],
       [-0.60852507, -1.34819331,  0.02671018, ...,  1.02639171,
        -0.18967706, -0.59646132],
       [-0.60582134, -1.35077322, -0.04784398, ...,  1.0718758 ,
        -0.29806753, -0.58915989]])